.address {
	position: absolute;
    top: 18px;
    left: 7px;
    color: #fff;
    z-index: 10;
    font-size: .12rem;
    background: rgba(0,0,0,.2);
    height: .25rem;
    line-height: .25rem;
    border-radius: .15rem;
    text-align: center;
    padding: 0 .1rem;
    cursor: pointer;
}
.address i {
	font-weight: bolder;
	padding-left:.02rem ;
	font-size: .08rem;
}
#banner {
	height: 2rem !important;
}
#banner img {
	height: 2rem;
}
/*头部导航 */
header {
	position: fixed;
	top:-.47rem;
	display: flex;
	width:100%;
	height: .47rem;
	background: #FFFFFF;
	align-items: center;
}
header .title {
	flex: 1;
	text-align: center;
	font-size: .16rem;
}
header .left,header .right {
	width: 15%;
}
header .left {
	padding-left: .15rem;
	cursor: pointer;
}
header .left i {
	padding-left: .05rem;
	font-size: .10rem;
}
/*选项卡*/
.tabs-bar {
	width: 100%;
	height: .49rem;
	display: flex;
	align-items: center;
	position: relative;
	border-top: 1px solid #C2C2C2;
	border-bottom: 1px solid #C2C2C2;
	background: #FFFFFF;
}
.tabs-bar .tabs-nav {
	width: 100%;
	display: flex;
	position: relative;
}
.tabs-bar .tabs-nav li {
	text-align: center;
	cursor: pointer;
}
.tabs-bar .tabs-nav .active {
	color: #ff5f16;
}
/*选项卡底部横线*/
.tab-ink-bar-wrapper {
	position: absolute;
	top: .31rem;
	width: 50%;
	height: .02rem;
	transition: all .5s;
}
.tab-ink-bar-wrapper .tab-ink-bar {
	width: .5rem;
	display: block;
	margin: auto;
	border-bottom: .02rem solid #ff5f16;
}
/*wrap*/
.nowPlayingList-wrap, .comingSoonList-wrap {
	box-sizing: border-box;
}
/*ul*/
.nowPlayingList ,.comingSoonList {
	margin-left:.15rem;
}
/*ul li*/
.nowPlayingList .nowPlayingFilm-item , .comingSoonList .comingSoonFilm-item{
	padding: .15rem .15rem .15rem 0;
	height: .9rem;
	border-bottom: 1px solid #C2C2C2;
}
/*ul li a*/
.nowPlayingFilm-wrap , .comingSoonFilm-wrap{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
/*正在热映 影片图片*/
.nowPlayingFilm-wrap .nowPlayingFilm-img ,.comingSoonFilm-wrap .comingSoonFilm-img {
	height: 100%;
}
.nowPlayingFilm-wrap .nowPlayingFilm-img img ,.comingSoonFilm-wrap .comingSoonFilm-img img{
	height: 100%;
}
/*正在热映 影片信息*/
.nowPlayingFilm-wrap .nowPlayingFilm-info ,.comingSoonFilm-wrap .comingSoonFilm-info {
	padding: 0 .1rem;
}
/*正在热映 影片信息 影片名*/
.nowPlayingFilm-info .nowPlayingFilm-name .name , .comingSoonFilm-info .comingSoonFilm-name .name {
	color: #191a1b;
    font-size: .16rem;
    height: .22rem;
    line-height: .22rem;
    margin-right: .05rem;
}
/*省略号*/
.nowPlayingFilm-info .info-col ,.comingSoonFilm-info .info-col{
	width: 2rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/*正在热映 影片信息公共样式*/
.nowPlayingFilm-info .label ,.comingSoonFilm-info .label {
    font-size: .13rem;
    color: #797d82;
}
/*2D*/
.nowPlayingFilm-info .nowPlayingFilm-name .item ,.comingSoonFilm-info .comingSoonFilm-name .item{
	font-size: .09rem;
    color: #fff;
    background-color: #d2d6dc;
    height: .14rem;
    line-height: .14rem;
    padding: 0 .02rem;
    border-radius: .02rem;
}
/*评分*/
.nowPlayingFilm-info .grade ,.comingSoonFilm-info .grade{
	font-size: .16rem;
    color: #ffb232
}
/*购票*/
.nowPlayingFilm-buy  ,.comingSoonFilm-buy{
	line-height: .25rem;
    height: .25rem;
    width: .5rem;
    color: #ff5f16;
    font-size: .13rem;
    text-align: center;
    border-radius: .02rem;
    border: 1px solid #ff5f16;
}